.ProfileDisplaySection2 {
  width: 100%;
  height: 100%;
  padding-top: clamp(
    calc(var(--spacing-constant) * 3),
    calc(2.5vw * 3),
    calc(var(--spacing-constant) * 3 * 1.5)
  );
  gap: clamp(
    calc(var(--spacing-constant) * 1),
    calc(2.5vw * 1),
    calc(var(--spacing-constant) * 1 * 1.5)
  );
  flex-direction: column;
  display: flex;

  .SearchBarContainer {
    align-self: stretch;
    padding-left: clamp(
      calc(var(--spacing-constant) * 1),
      calc(2.5vw * 1),
      calc(var(--spacing-constant) * 1 * 1.5)
    );
    padding-right: clamp(
      calc(var(--spacing-constant) * 1),
      calc(2.5vw * 1),
      calc(var(--spacing-constant) * 1 * 1.5)
    );
    justify-content: center;
    align-items: center;
    gap: clamp(
      calc(var(--spacing-constant) * 1),
      calc(2.5vw * 1),
      calc(var(--spacing-constant) * 1 * 1.5)
    );
    display: flex;

    .AjouterUneVideo {
      width: 220px;
      text-align: center;
      color: #f0e063;
      font-weight: 700;
      word-wrap: break-word;
    }
  }

  .Emptyfieldscontainer {
    align-self: stretch;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: clamp(
      calc(var(--spacing-constant) * 1),
      calc(2.5vw * 1),
      calc(var(--spacing-constant) * 1 * 1.5)
    );

    .Imageuploadercontainer {
      width: 100%;
      align-self: stretch;
      padding-left: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      padding-right: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      justify-content: center;
      align-items: center;
      gap: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      flex-direction: column;
      display: flex;

      .inputContainer {
        justify-content: center;
        display: flex;
        max-width: 500px;
        position: relative;

        .input {
          width: 63vw;
          color: var(--text-field-background-color);
          border: none;
          height: 7vh;
          padding: 10px;
          background: rgba(238, 226, 226, 0.1);
          border-radius: clamp(
            calc(var(--spacing-constant) * 1),
            calc(2.5vw * 1),
            calc(var(--spacing-constant) * 1 * 1.5)
          );
          overflow: hidden;
          border-bottom: 1px #ff509a solid;
          align-items: center;
          display: flex;
          &::placeholder {
            color: var(--text-field-background-color);
          }
          &:focus {
            outline: none;
          }
        }
      }

      .Outlineimageuploader {
        flex: 1;
        padding: clamp(
          calc(var(--spacing-constant) * 1),
          calc(2.5vw * 1),
          calc(var(--spacing-constant) * 1 * 1.5)
        );
        border-radius: clamp(
          calc(var(--spacing-constant) * 1),
          calc(2.5vw * 1),
          calc(var(--spacing-constant) * 1 * 1.5)
        );
        border: 1px white dotted;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: clamp(
          calc(var(--spacing-constant) * 1),
          calc(2.5vw * 1),
          calc(var(--spacing-constant) * 1 * 1.5)
        );
        display: flex;

        .Frame4 {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: clamp(
            calc(var(--spacing-constant) * 1),
            calc(2.5vw * 1),
            calc(var(--spacing-constant) * 1 * 1.5)
          );
          display: flex;

          .imageContainer {
            width: clamp(
              calc(var(--movie-slide-min-width, 70px) * 1),
              calc(var(--movie-slide-preferred-width, 22vw) * 1),
              calc(
                var(
                    --movie-slide-max-width,
                    calc(var(--movie-slide-min-width, 70px) * 2)
                  ) * 1
              )
            );
            height: clamp(
              calc(var(--movie-slide-min-width, 70px) * 1.3),
              calc(var(--movie-slide-preferred-width, 22vw) * 1.3),
              calc(
                var(
                    --movie-slide-max-width,
                    calc(var(--movie-slide-min-width, 70px) * 2)
                  ) * 1.3
              )
            );

            img {
              width: 100%;
              height: 100%;
              border-radius: clamp(
                calc(var(--border-radius-constant) * 1),
                calc(2.5vw * 1),
                calc(var(--border-radius-constant) * 1 * 1.5)
              );
              object-fit: cover;
            }
          }

          .imageContainer2 {
            width: clamp(
              calc(var(--hero-movie-slide-min-width, 288px) * 1 / 2),
              calc(var(--hero-movie-slide-preferred-width, 90vw) * 1 / 2),
              calc(
                var(
                    --hero-movie-slide-max-width,
                    calc(var(--hero-movie-slide-min-width, 288px) * 2.25)
                  ) * 1 / 2
              )
            );
            height: clamp(
              calc(var(--hero-movie-slide-min-height, 288px) * 0.5 * 1 / 2),
              calc(
                var(--hero-movie-slide-preferred-height, 90vw) * 0.5 * 1 / 2
              ),
              calc(
                var(
                    --hero-movie-slide-max-height,
                    calc(var(--hero-movie-slide-min-height, 288px) * 2.25)
                  ) * 0.5 * 1 / 2
              )
            );
            border-radius: clamp(
              calc(var(--border-radius-constant) * 1),
              calc(3.125vw * 1),
              calc(var(--border-radius-constant) * 1 * 2.25)
            );

            img {
              width: 100%;
              height: 100%;
              border-radius: clamp(
                calc(var(--border-radius-constant) * 1),
                calc(2.5vw * 1),
                calc(var(--border-radius-constant) * 1 * 1.5)
              );
              object-fit: cover;
            }
          }

          .input {
            background: rgba(238, 226, 226, 0.1);
            color: #dbdbdb;
            border: none;
            width: 100%;
            border-radius: clamp(
              calc(var(--spacing-constant) * 1),
              calc(2.5vw * 1),
              calc(var(--spacing-constant) * 1 * 1.5)
            );
          }
        }
      }
    }

    .inputContainer {
      justify-content: center;
      display: flex;
      max-width: 500px;
      position: relative;

      .input {
        width: 63vw;
        color: var(--text-field-background-color);
        border: none;
        height: 7vh;
        padding: clamp(
          calc(var(--spacing-constant) * 1),
          calc(2.5vw * 1),
          calc(var(--spacing-constant) * 1 * 1.5)
        );
        background: rgba(238, 226, 226, 0.1);
        border-radius: clamp(
          calc(var(--spacing-constant) * 1),
          calc(2.5vw * 1),
          calc(var(--spacing-constant) * 1 * 1.5)
        );
        overflow: hidden;
        border-bottom: 1px #ff509a solid;
        align-items: center;
        display: flex;
        &::placeholder {
          color: var(--text-field-background-color);
        }
        &:focus {
          outline: none;
        }
      }
    }

    .Titleinputcontainer2 {
      align-self: stretch;
      padding: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      gap: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      display: flex;

      .inputContainer {
        justify-content: center;
        display: flex;
        max-width: 500px;
        position: relative;

        .input {
          width: 63vw;
          color: var(--text-field-background-color);
          border: none;
          height: 7vh;
          padding: 10px;
          background: rgba(238, 226, 226, 0.1);
          border-radius: 6px;
          overflow: hidden;
          border-bottom: 1px #ff509a solid;
          align-items: center;
          display: flex;
          &::placeholder {
            color: var(--text-field-background-color);
          }
          &:focus {
            outline: none;
          }
        }
      }
    }

    select {
      outline: none;
      width: clamp(calc(192px * 1), calc(60vw * 1), calc(192px * 1 * 1.5));
    }

    .Titleinputcontainer3 {
      align-self: stretch;
      padding: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      gap: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      display: flex;
      height: clamp(calc(150px * 1), calc(46.875vw * 1), calc(150px * 1 * 1.5));

      .Input {
        gap: clamp(
          calc(var(--spacing-constant) * 1),
          calc(2.5vw * 1),
          calc(var(--spacing-constant) * 1 * 1.5)
        );
        height: 100%;
        width: 100%;
        padding: clamp(
          calc(var(--spacing-constant) * 1),
          calc(2.5vw * 1),
          calc(var(--spacing-constant) * 1 * 1.5)
        );
        background: rgba(238, 226, 226, 0.1);
        border-radius: clamp(
          calc(var(--spacing-constant) * 1),
          calc(2.5vw * 1),
          calc(var(--spacing-constant) * 1 * 1.5)
        );
        overflow: hidden;
        border-bottom: 2px #ff509a solid;
        justify-content: flex-start;
        align-items: start;
        display: flex;

        .tab {
          display: flex;
          flex-direction: column;
          gap: clamp(
            calc(var(--spacing-constant) * 1),
            calc(2.5vw * 1),
            calc(var(--spacing-constant) * 1 * 1.5)
          );
        }

        .CaretDownSolid1 {
          width: clamp(
            calc(var(--spacing-constant) * 1),
            calc(2.5vw * 1),
            calc(var(--spacing-constant) * 1 * 1.5)
          );
          height: clamp(
            calc(var(--spacing-constant) * 2),
            calc(2.5vw * 2),
            calc(var(--spacing-constant) * 2 * 1.5)
          );
          position: relative;

          .Vector {
            width: clamp(
              calc(var(--spacing-constant) * 1),
              calc(2.5vw * 1),
              calc(var(--spacing-constant) * 1 * 1.5)
            );
            height: clamp(
              calc(var(--spacing-constant) * 1),
              calc(2.5vw * 1),
              calc(var(--spacing-constant) * 1 * 1.5)
            );
            left: 0;
            top: clamp(
              calc(var(--spacing-constant) * 1),
              calc(2.5vw * 1),
              calc(var(--spacing-constant) * 1 * 1.5)
            );
            position: absolute;
            background: #dbdbdb;
          }
        }
      }
    }

    .Titleinputcontainer4 {
      align-self: stretch;
      padding: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      gap: clamp(
        calc(var(--spacing-constant) * 3),
        calc(2.5vw * 3),
        calc(var(--spacing-constant) * 3 * 1.5)
      );
      display: flex;
      height: clamp(calc(150px * 1), calc(46.875vw * 1), calc(150px * 1 * 1.5));

      .Input {
        height: 100%;
        width: 100%;
        padding: clamp(
          calc(var(--spacing-constant) * 1),
          calc(2.5vw * 1),
          calc(var(--spacing-constant) * 1 * 1.5)
        );
        background: rgba(238, 226, 226, 0.1);
        border-radius: clamp(
          calc(var(--spacing-constant) * 1),
          calc(2.5vw * 1),
          calc(var(--spacing-constant) * 1 * 1.5)
        );
        overflow: hidden;
        border-bottom: 2px #ff509a solid;
        gap: clamp(
          calc(var(--spacing-constant) * 1),
          calc(2.5vw * 1),
          calc(var(--spacing-constant) * 1 * 1.5)
        );
        display: flex;
        flex-direction: column;

        .input {
          background: rgba(238, 226, 226, 0.1);
          color: #dbdbdb;
          border: none;
          width: 100%;
          height: 100%;
          border-radius: clamp(
            calc(var(--spacing-constant) * 1),
            calc(2.5vw * 1),
            calc(var(--spacing-constant) * 1 * 1.5)
          );
        }
      }
    }
  }

  .Grantingscontainer {
    align-self: stretch;
    height: clamp(calc(150px * 1), calc(46.875vw * 1), calc(150px * 1 * 1.5));
    padding-left: clamp(
      calc(var(--spacing-constant) * 1),
      calc(2.5vw * 1),
      calc(var(--spacing-constant) * 1 * 1.5)
    );
    padding-right: clamp(
      calc(var(--spacing-constant) * 1),
      calc(2.5vw * 1),
      calc(var(--spacing-constant) * 1 * 1.5)
    );
    flex-direction: column;
    gap: clamp(
      calc(var(--spacing-constant) * 1),
      calc(2.5vw * 1),
      calc(var(--spacing-constant) * 1 * 1.5)
    );
    display: flex;

    .Autorisation {
      text-align: center;
      color: #f0e063;
    }

    .Input {
      align-self: stretch;
      padding: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      background: rgba(238, 226, 226, 0.1);
      border-radius: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      overflow: hidden;
      border: 1px #ff509a solid;
      align-items: center;
      gap: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      display: flex;

      .SquareCheckRegular1 {
        width: clamp(
          calc(var(--spacing-constant) * 2),
          calc(2.5vw * 2),
          calc(var(--spacing-constant) * 2 * 1.5)
        );
        height: clamp(
          calc(var(--spacing-constant) * 2),
          calc(2.5vw * 2),
          calc(var(--spacing-constant) * 2 * 1.5)
        );
        position: relative;

        .Vector {
          width: clamp(
            calc(var(--spacing-constant) * 2),
            calc(2.5vw * 2),
            calc(var(--spacing-constant) * 2 * 1.5)
          );
          height: clamp(
            calc(var(--spacing-constant) * 2),
            calc(2.5vw * 2),
            calc(var(--spacing-constant) * 2 * 1.5)
          );
          left: 0px;
          top: 1px;
          position: absolute;
          background: #dbdbdb;
        }
      }

      .Visiteur {
        text-align: center;
        color: #dbdbdb;
        font-size: clamp(calc(9px * 1), calc(2.5vw * 1), calc(9px * 1 * 1.5));
        font-weight: 400;
      }
    }

    .Input {
      align-self: stretch;
      padding: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      background: rgba(238, 226, 226, 0.1);
      border-radius: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      overflow: hidden;
      align-items: center;
      gap: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      display: flex;
    }

    .Input {
      align-self: stretch;
      padding: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      background: rgba(238, 226, 226, 0.1);
      border-radius: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      overflow: hidden;
      align-items: center;
      gap: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      display: flex;
    }
  }

  .Titleinputcontainer {
    align-self: stretch;
    padding: clamp(
      calc(var(--spacing-constant) * 1),
      calc(2.5vw * 1),
      calc(var(--spacing-constant) * 1 * 1.5)
    );
    justify-content: center;
    align-items: center;
    gap: clamp(
      calc(var(--spacing-constant) * 3),
      calc(2.5vw * 3),
      calc(var(--spacing-constant) * 3 * 1.5)
    );
    display: flex;

    .ConnectionButton {
      padding-left: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      padding-right: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      background: #ff509a;
      border-radius: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      overflow: hidden;
      justify-content: center;
      align-items: center;
      gap: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      display: flex;
      margin-bottom: clamp(
        calc(50px * 1),
        calc(15.625vw * 1),
        calc(50px * 1 * 1.5)
      );

      button {
        background: none;
        border: none;
      }

      .Ajouter {
        width: clamp(calc(100px * 1), calc(31.25vw * 1), calc(100px * 1 * 1.5));
        height: clamp(calc(30px * 1), calc(9.375vw * 1), calc(30px * 1 * 1.5));
        text-align: center;
        color: #021222;
        font-size: clamp(
          calc(var(--spacing-constant) * 2),
          calc(2.5vw * 2),
          calc(var(--spacing-constant) * 2 * 1.5)
        );
        font-weight: 600;
      }
    }
  }
}
