.ContainerAjoutAdmin {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  .namePage,
  h3 {
    padding-bottom: 5rem;
    padding-top: 1rem;
    font-size: calc(var(--font-size-constant) * 2.4);
  }

  .containerUser {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1vw;
    gap: 5px;
    background: rgba(238, 226, 226, 0.1);
    border-bottom: 1px #ff509a solid;
    width: 80%;
    .borderUser {
      background-color: transparent;
      border: 1px solid #ff509a;
      border-radius: 3px;
      width: 18vw;
      height: 4vh;
      cursor: pointer;
      color: hsla(0, 0%, 86%, 1);
    }
    .checked {
      background-color: var(--secondary-font-color);
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb-color, hsla(335, 100%, 66%, 1));
      border-radius: 10px;
    }
  }

  .popUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    .supp {
      background-color: var(--secondary-font-color);
      border: 1px solid red;
      width: 15vw;
      height: 15vh;
    }
  }
}
