.home {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  overflow-x: hidden;
  flex: 1;

  .movies-display-section {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    gap: calc(var(--spacing-constant) * 1);
    display: flex;

    .logo-container {
      align-self: stretch;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        width: clamp(
          var(--logo-min-width, 75px),
          var(--logo-preferred-width, 25%),
          var(--logo-max-width, 185px)
        );
        height: clamp(
          var(--logo-min-height, 45px),
          var(--logo-preferred-height, 8vh),
          var(--logo-max-height, 110px)
        );
        object-fit: cover;
        object-position: center;
        position: relative;
      }
    }
  }

  .dynamic-hero-slider-container {
    align-self: stretch;
    justify-content: center;
    gap: calc(var(--spacing-constant) * 1);
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;

    .hero-movie-slide {
      width: clamp(
        var(--hero-movie-slide-min-width, 255px),
        var(--hero-movie-slide-preferred-width, 80%),
        var(--hero-movie-slide-max-width, 1200px)
      );
      height: clamp(
        var(--hero-movie-slide-min-height, 140px),
        var(--hero-movie-slide-preferred-height, 25vh),
        var(--hero-movie-slide-max-height, 655px)
      );
      object-fit: cover;
      position: relative;
      border-radius: var(--border-radius-constant, 10px);
    }
  }

  .movie-genre-tabs-container {
    align-self: stretch;
    padding: 0 calc(var(--spacing-constant) * 1);
    align-items: center;
    gap: calc(var(--spacing-constant) * 1);
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    list-style-type: none;

    .movie-genre-tab-container {
      width: fit-content;
      border-bottom: 1px solid var(--tab-border-bottom-color, hsla(335, 100%, 66%, 1));
      align-items: center;
      gap: calc(var(--spacing-constant) * 0.5);
      display: flex;

      .movie-genre {
        font-size: calc(var(--font-size-constant) * 1.2);
        font-weight: var(--font-weight-semi-bold);
        color: var(--secondary-font-color);
      }
    }
  }
}
