.app {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  overflow-x: hidden;
  flex: 1;

  .navbar {
    align-self: stretch;
    padding: calc(var(--spacing-constant) * 0.7)
      calc(var(--spacing-constant) * 3);
    justify-content: space-between;
    align-items: center;
    display: flex;

    .nav-icon-container {
      width: var(--nav-icon-container-width, 18px);
      height: var(--nav-icon-container-height, 18px);
      position: relative;

      .home-icon {
        width: var(--home-icon-width, 18px);
        height: var(--home-icon-height, 18px);
        left: 0;
        top: 0;
        position: absolute;
      }

      .search-icon {
        width: var(--search-icon-width, 18px);
        height: var(--search-icon-height, 18px);
        left: 0;
        top: 0;
        position: absolute;
      }

      .profile-icon {
        width: var(--profile-icon-width, 18px);
        height: var(--profile-icon-height, 18px);
        left: 0;
        top: 0;
        position: absolute;
      }
    }
  }
}
