.display-container {
  display: flex;

  .display {
    align-self: stretch;
    flex: 1;
    gap: calc(var(--spacing-constant) * 1);
    display: flex;
    flex-wrap: wrap;
    padding: 0 calc(var(--spacing-constant) * 1.5);
  }
}
