.CommentsSection {
  align-self: stretch;
  height: clamp(
    calc(var(--comments-wrapper-height, 338px) * 1),
    calc(105.625vw * 1),
    calc(var(--comments-wrapper-height, 338px) * 1.5)
  );
  padding: 0
    clamp(
      calc(var(--spacing-constant) * 1),
      calc(2.5vw * 1),
      calc(var(--spacing-constant) * 1.5)
    );
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  gap: clamp(
    calc(var(--spacing-constant) * 1),
    calc(2.5vw * 1),
    calc(var(--spacing-constant) * 1 * 1.5)
  );

  .CommentsSectionTitle {
    align-self: stretch;
    gap: clamp(
      calc(var(--spacing-constant) * 1),
      calc(2.5vw * 1),
      calc(var(--spacing-constant) * 1.5)
    );
    display: flex;
    color: var(--neutral-color);
  }

  .CommentsWrapper {
    flex-direction: column;
    gap: clamp(
      calc(var(--spacing-constant) * 1),
      calc(2.5vw * 1),
      calc(var(--spacing-constant) * 1.5)
    );
    display: flex;
    height: clamp(
      calc(var(--comments-wrapper-height, 246px) * 1),
      calc(76.875vw * 1),
      calc(var(--comments-wrapper-height, 246px) * 1.5)
    );
    overflow-y: scroll;

    .CommentContainer {
      gap: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1.5)
      );
      display: flex;
      padding: 0
        clamp(
          calc(var(--spacing-constant) * 1),
          calc(2.5vw * 1),
          calc(var(--spacing-constant) * 1 * 1.5)
        );

      .UserInfo {
        flex-direction: column;
        align-items: center;
        gap: clamp(
          calc(var(--spacing-constant) * 1 / 2),
          calc(2.5vw / 2),
          calc(var(--spacing-constant) * 1.5 / 2)
        );
        display: flex;

        .Avatar2 {
          width: clamp(
            calc(var(--comment-avatar-size, 48px) * 1),
            15vw,
            calc(var(--comment-avatar-size, 48px) * 1.5)
          );
          height: clamp(
            calc(var(--comment-avatar-size, 48px) * 1),
            15vw,
            calc(var(--comment-avatar-size, 48px) * 1.5)
          );
          object-fit: cover;
          border-radius: clamp(
            calc(var(--border-radius-constant) * 3),
            calc(3.125vw * 3),
            calc(var(--border-radius-constant) * 3 * 1.5)
          );
        }

        .Username {
          color: var(--neutral-color);
        }
      }

      .FrameContainer {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: clamp(
          calc(var(--spacing-constant) * 1),
          calc(2.5vw * 1),
          calc(var(--spacing-constant) * 1 * 1.5)
        );
        max-width: 100vw;

        .Frame1 {
          flex: 1 1 0;

          padding: clamp(
              calc(var(--spacing-constant) * 1 / 2),
              calc(2.5vw / 2),
              calc(var(--spacing-constant) * 1.5 / 2)
            )
            clamp(
              calc(var(--spacing-constant) * 1),
              calc(2.5vw),
              calc(var(--spacing-constant) * 1.5)
            );
          background: var(--text-field-background-color);
          border-radius: clamp(
            calc(var(--border-radius-constant) * 1),
            calc(2.5vw),
            calc(var(--border-radius-constant) * 1.5)
          );
          gap: clamp(
            calc(var(--spacing-constant) * 1),
            calc(2.5vw),
            calc(var(--spacing-constant) * 1.5)
          );
          display: flex;
          flex-direction: column;

          .CommentText {
            color: var(--background-color);
            flex: 1;
            overflow-wrap: break-word;
            word-wrap: break-word;
            word-break: break-all;
          }
          .CommentActionButtons {
            width: 6vw;
            gap: 10px;
            justify-content: flex-start;
            height: 5vh;
            display: flex;
          }

          .EditButton {
            cursor: pointer;
            background: none;
            border: none;
            padding-right: 5px;
          }
          .colorEditButton {
            border: 2px solid var(--secondary-font-color);
            border-radius: 3px;
            animation: blink 1s infinite;
          }
          @keyframes blink {
            0%,
            100% {
              border-color: transparent;
            }
            50% {
              border-color: var(--secondary-font-color);
              scale: 1.2;
            }
          }

          .DeleteButton {
            cursor: pointer;
            background: none;
            border: none;
          }
        }

        .CommentDateContainer {
          display: flex;
          justify-content: flex-end;

          .CommentDate {
            color: var(--secondary-font-color);
          }
        }
      }
    }
  }

  .CommentsWrapper::-webkit-scrollbar {
    width: 5px;
  }

  .CommentsWrapper::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, hsla(335, 100%, 66%, 1));
    border-radius: 10px;
  }

  .CommentsInput {
    gap: clamp(
      calc(var(--spacing-constant) * 1),
      calc(2.5vw * 1),
      calc(var(--spacing-constant) * 1.5)
    );
    display: flex;

    .CommentContainer {
      height: clamp(
        calc(var(--comment-container-height, 48px) * 1),
        calc(15vw * 1),
        calc(var(--comment-container-height, 48px) * 1 * 1.5)
      );
      align-items: center;
      gap: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      display: flex;
      flex: 1;

      .CommentInputContainer {
        flex: 1;
        position: relative;
        height: 100%;

        .text {
          height: 100%;
          width: 100%;
          padding: clamp(
              calc(var(--spacing-constant) * 1 / 2),
              calc(2.5vw / 2),
              calc(var(--spacing-constant) * 1.5 / 2)
            )
            clamp(
              calc(var(--spacing-constant) * 1),
              calc(2.5vw * 1),
              calc(var(--spacing-constant) * 1.5)
            );
          background: var(--text-field-background-color);
          border-radius: clamp(
            calc(var(--border-radius-constant) * 1),
            calc(3.125vw * 1),
            calc(var(--border-radius-constant) * 1 * 1.5)
          );
          border: none;
          justify-content: space-between;
          align-items: center;
          display: flex;
          word-wrap: break-word;

          .CommentInput {
            border: none;
            background: var(--text-field-background-color);
            width: 80%;
            resize: none;
          }
        }

        .CommentInput2 {
          height: 100%;
          width: 100%;
          border-radius: 10px;
          background: var(--text-field-background-color);
        }

        .CommentInput:focus {
          outline: none;
        }

        .SendSvgrepoCom2 {
          width: clamp(
            calc(var(--comment-input-height, 24px) * 1),
            calc(7.5vw * 1),
            calc(var(--comment-input-height, 24px) * 1.5)
          );
          height: clamp(
            calc(var(--comment-input-height, 24px) * 1),
            calc(7.5vw * 1),
            calc(var(--comment-input-height, 24px) * 1.5)
          );
          border: none;
          background: none;
          position: absolute;
          right: clamp(
            calc(var(--spacing-constant) * 1),
            calc(2.5vw * 1),
            calc(var(--spacing-constant) * 1.5)
          );
          top: 50%;
          transform: translateY(-50%);

          .Vector {
            height: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
          }
          cursor: pointer;

          &.disabled {
            cursor: auto;
            opacity: 0.5;
          }
        }
      }

      .UserInfo {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: clamp(
          calc(var(--spacing-constant) * 1 / 2),
          calc(2.5vw / 2),
          calc(var(--spacing-constant) * 1.5 / 2)
        );
        display: flex;

        .Avatar2 {
          width: clamp(
            calc(var(--comment-input-height, 32px) * 1),
            calc(10vw * 1),
            calc(var(--comment-input-height, 32px) * 1.5)
          );
          height: clamp(
            calc(var(--comment-input-height, 32px) * 1),
            calc(10vw * 1),
            calc(var(--comment-input-height, 32px) * 1.5)
          );
          object-fit: cover;
          border-radius: clamp(
            calc(var(--border-radius-constant) * 3),
            calc(3.125vw * 3),
            calc(var(--border-radius-constant) * 3 * 1.5)
          );
        }

        .Username {
          color: var(--neutral-color);
          font-family: var(--main-font);
          font-weight: var(--font-weight-semi-bold);
        }
      }
    }
  }
}
