.hero-movie-slide {
  width: clamp(
    calc(var(--hero-movie-slide-min-width, 255px) * 1),
    calc(var(--hero-movie-slide-preferred-width, 80vw) * 1),
    calc(var(--hero-movie-slide-max-width, 1200px) * 1)
  );
  height: clamp(
    calc(var(--hero-movie-slide-min-width, 255px) * 0.5),
    calc(var(--hero-movie-slide-preferred-width, 80vw) * 0.5),
    calc(var(--hero-movie-slide-max-width, 1200px) * 0.5)
  );
  border-radius: var(--border-radius-constant, 20px);
  object-fit: cover;
}
