.hero-movie-slide {
  width: clamp(
    calc(var(--hero-movie-slide-min-width, 288px) * 1),
    calc(var(--hero-movie-slide-preferred-width, 90vw) * 1),
    calc(
      var(
          --hero-movie-slide-max-width,
          calc(var(--hero-movie-slide-min-width, 288px) * 2.25)
        ) * 1
    )
  );
  height: clamp(
    calc(var(--hero-movie-slide-min-height, 288px) * 0.5),
    calc(var(--hero-movie-slide-preferred-height, 90vw) * 0.5),
    calc(
      var(
          --hero-movie-slide-max-height,
          calc(var(--hero-movie-slide-min-height, 288px) * 2.25)
        ) * 0.5
    )
  );
  border-radius: var(--border-radius-constant, 10px);
  object-fit: cover;
}
