.home {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  overflow-x: hidden;
  flex: 1;

  .movies-display-section {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    gap: clamp(
      calc(var(--spacing-constant) * 2),
      calc(2.5vw * 2),
      calc(var(--spacing-constant) * 2 * 1.5)
    );
    display: flex;
    .pub {
      border: none;
      position: fixed;
      right: 0;
      z-index: 9999;
      top: 50%;
      transform: translateX(100%);
      transition: transform 1s ease-in-out;
      width: 80%;
      max-width: 800px;
      img {
        width: 100%;
        height: auto;
      }
      &.show {
        transform: translateX(0);
      }
      &.hide {
        transform: translateX(100%);
      }
    }
  }
}

.home::-webkit-scrollbar {
  width: 5px;
}

.home::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, hsla(335, 100%, 66%, 1));
  border-radius: 10px;
}
