.home {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  overflow-x: hidden;
  flex: 1;

  .movies-display-section {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    gap: calc(var(--spacing-constant) * 1);
    display: flex;

    .category-movie-display-container {
      .category-title-container {
        align-self: stretch;
        padding: 0 calc(var(--spacing-constant) * 1);
        justify-content: space-between;
        align-items: center;
        display: flex;

        .category-title {
          color: var(--primary-font-color);
          font-weight: var(--font-weight-semi-bold);
          text-wrap: nowrap;
          font-size: clamp(
            calc(var(--font-size-constant) * 1.4),
            4.375vw,
            calc(var(--font-size-constant) * 1.4 * 1.5)
          );
        }

        .category-page-link {
          color: var(--secondary-font-color);
          font-size: calc(var(--font-size-constant) * 1.2);
          font-weight: var(--font-weight-extra-light);
          text-wrap: nowrap;
        }
      }

      .static-slider-container {
        padding: 0 calc(var(--spacing-constant) * 1);
        align-items: center;
        gap: clamp(
          calc(var(--spacing-constant) * 1),
          2.5vw,
          calc(var(--spacing-constant) * 2)
        );
        display: flex;
        overflow-x: scroll;
      }

      .static-slider-container::-webkit-scrollbar {
        height: 4px;
        width: 0;
      }

      .static-slider-container::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color, hsla(335, 100%, 66%, 1));
        border-radius: 10px;
      }
    }
  }
}

.home::-webkit-scrollbar {
  width: 5px;
}

.home::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color, hsla(335, 100%, 66%, 0.502));
}

.home::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, hsla(335, 100%, 66%, 1));
  border-radius: 10px;
}
