.home {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  overflow-x: hidden;
  flex: 1;

  .movies-display-section {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    gap: calc(var(--spacing-constant) * 1);
    display: flex;

    .logo-container {
      display: flex;
      justify-content: center;

      .logo {
        width: 100%;
        max-width: 100px;
      }
    }

    @media screen and (width > 768px) {
      .logo-container {
        display: none;
      }
    }

    .movie-genre-tabs-container {
      align-self: stretch;
      padding: 0 calc(var(--spacing-constant) * 1);
      align-items: center;
      gap: calc(var(--spacing-constant) * 1);
      display: flex;
      overflow-x: scroll;
      scroll-behavior: smooth;
      list-style-type: none;

      .movie-genre-tab-container {
        align-items: center;
        gap: calc(var(--spacing-constant) * 1);
        display: flex;

        .movie-genre {
          color: var(
            --not-selected-movie-genre-tab-color,
            hsla(0, 0%, 100%, 0.6)
          );
          font-size: calc(var(--font-size-constant) * 1.2);
          font-weight: var(--font-weight-semi-bold);
          text-wrap: nowrap;
        }

        .selected-tab {
          color: var(--selected-movie-genre-tab-color, hsla(0, 0%, 100%, 1));
          border-bottom: 1px solid
            var(--selected-tab-border-bottom-color, hsla(335, 100%, 66%, 1));
        }
      }
    }

    .category-movie-display-container {
      .category-title-container {
        align-self: stretch;
        padding: 0 calc(var(--spacing-constant) * 1);
        justify-content: space-between;
        align-items: center;
        display: flex;

        .category-title {
          color: var(--primary-font-color);
          font-size: calc(var(--font-size-constant) * 1.4);
          font-weight: var(--font-weight-semi-bold);
          text-wrap: nowrap;
        }

        .category-page-link {
          color: var(--secondary-font-color);
          font-size: calc(var(--font-size-constant) * 1.2);
          font-weight: var(--font-weight-extra-light);
          text-wrap: nowrap;
        }
      }

      .static-slider-container {
        padding: 0 calc(var(--spacing-constant) * 1);
        align-items: center;
        gap: clamp(
          calc(var(--spacing-constant) * 1),
          2.5vw,
          calc(var(--spacing-constant) * 2)
        );
        display: flex;
        // overflow-x: scroll;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

.home::-webkit-scrollbar {
  width: 5px;
}

.home::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color, rgba(255, 82, 154, 0.502));
}

.home::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, hsla(335, 100%, 66%, 1));
  border-radius: 10px;
}
