.home {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  overflow-x: hidden;
  flex: 1;

  .CategoryTitleContainer {
    width: 100vw;
    height: 19px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;

    .CategoryTitle {
      width: 142px;
      align-self: stretch;
      color: #f0e063;
      font-size: 16px;
      font-family: Roboto Flex;
      font-weight: 700;
      word-wrap: break-word;
    }

    .CategoryPageLink {
      color: #ff509a;
      font-size: 11px;
      font-family: Roboto Flex;
      font-weight: 300;
      word-wrap: break-word;
    }
  }

  .CategoryTitleContainer {
    width: 100vw;
    height: 19px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;

    .CategoryTitle {
      width: 142px;
      align-self: stretch;
      color: #f0e063;
      font-size: 16px;
      font-family: Roboto Flex;
      font-weight: 700;
      word-wrap: break-word;
    }

    .CategoryPageLink {
      color: #ff509a;
      font-size: 11px;
      font-family: Roboto Flex;
      font-weight: 300;
      word-wrap: break-word;
    }
  }

  .CategoryTitleContainer {
    width: 100vw;
    height: 19px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;

    .CategoryTitle {
      width: 142px;
      align-self: stretch;
      color: #f0e063;
      font-size: 16px;
      font-family: Roboto Flex;
      font-weight: 700;
      word-wrap: break-word;
    }

    .CategoryPageLink {
      color: #ff509a;
      font-size: 11px;
      font-family: Roboto Flex;
      font-weight: 300;
      word-wrap: break-word;
    }
  }

  .movies-display-section {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    gap: calc(var(--spacing-constant) * 1);
    display: flex;

    .logo-container {
      align-self: stretch;
      display: flex;
      justify-content: center;
      align-items: center;

      .logo {
        width: clamp(
          var(--logo-min-width, 75px),
          var(--logo-preferred-width, 25%),
          var(--logo-max-width, 185px)
        );
        height: clamp(
          var(--logo-min-height, 45px),
          var(--logo-preferred-height, 10vh),
          var(--logo-max-height, 110px)
        );
        object-fit: cover;
        object-position: center;
        position: relative;
      }
    }

    .movie-genre-tabs-container {
      align-self: stretch;
      padding: 0 calc(var(--spacing-constant) * 1);
      align-items: center;
      gap: calc(var(--spacing-constant) * 1);
      display: flex;
      overflow-x: scroll;
      scroll-behavior: smooth;
      list-style-type: none;

      .movie-genre-tab-container {
        align-items: center;
        gap: calc(var(--spacing-constant) * 1);
        display: flex;

        .movie-genre {
          color: var(
            --not-selected-movie-genre-tab-color,
            hsla(0, 0%, 100%, 0.6)
          );
          font-size: calc(var(--font-size-constant) * 1.2);
          font-weight: var(--font-weight-semi-bold);
          text-wrap: nowrap;
        }

        .selected-tab {
          color: var(--selected-movie-genre-tab-color, hsla(0, 0%, 100%, 1));
          border-bottom: 1px solid
            var(--selected-tab-border-bottom-color, hsla(335, 100%, 66%, 1));
        }
      }
    }

    .category-movie-display-container {
      align-self: stretch;
      flex-direction: column;
      gap: calc(var(--spacing-constant) * 1);
      display: flex;

      .category-title-container {
        align-self: stretch;
        padding: 0 calc(var(--spacing-constant) * 1);
        justify-content: space-between;
        align-items: center;
        display: flex;

        .category-title {
          color: var(--primary-font-color);
          font-size: calc(var(--font-size-constant) * 1.4);
          font-weight: var(--font-weight-semi-bold);
          text-wrap: nowrap;
        }

        .category-page-link {
          color: var(--secondary-font-color);
          font-size: calc(var(--font-size-constant) * 1.2);
          font-weight: var(--font-weight-extra-light);
          text-wrap: nowrap;
        }
      }

      .static-slider-container {
        align-self: stretch;
        padding: 0 calc(var(--spacing-constant) * 1);
        align-items: center;
        gap: calc(var(--spacing-constant) * 1);
        display: flex;
        // overflow-x: scroll;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

.MovieGenreTabsContainer {
  width: 100vw;
  height: 31px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
  display: flex;

  .MovieGenreTabContainerAll {
    width: 15px;
    border-bottom: 1px #ff509a solid;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    display: flex;

    .All {
      text-align: center;
      color: white;
      font-size: 13px;
      font-family: Roboto Flex;
      font-weight: 400;
      word-wrap: break-word;
    }
  }

  .MovieGenreContainer {
    width: 100vw;
    height: 31px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    display: flex;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    font-family: Roboto Flex;
    font-weight: 400;
    word-wrap: break-word;
    overflow-x: scroll;

    .MovieGenreContainerStyle {
      text-align: center;
      color: white;
      font-size: 13px;
      font-family: Roboto Flex;
      font-weight: 400;
      word-wrap: break-word;
      text-decoration: none;
    }
  }
}
