.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  .logOut {
    color: var(--background-color);
    background-color: var(--secondary-font-color);
    font-weight: var(--font-weight-semi-bold);
    width: 45vw;
    height: 8vh;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
}
