.movie-player {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
  background-color: var(--background-color-2, hsla(0, 0%, 0%, 1));
  padding-top: calc(var(--spacing-constant) * 1);

  .back-to-previous-page {
    display: flex;
    width: 100%;
    padding-left: calc(var(--spacing-constant) * 1);
  }

  .movie-player-wrapper {
    width: 100%;
    height: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    flex: 1;

    .movie-player-iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
