.movie-slide {
  width: clamp(
    calc(var(--movie-slide-min-width, 70px) * 1),
    calc(var(--movie-slide-preferred-width, 22vw) * 1),
    calc(
      var(--movie-slide-max-width, calc(var(--movie-slide-min-width, 70px) * 2)) *
        1
    )
  );
  height: clamp(
    calc(var(--movie-slide-min-width, 70px) * 1.3),
    calc(var(--movie-slide-preferred-width, 22vw) * 1.3),
    calc(
      var(--movie-slide-max-width, calc(var(--movie-slide-min-width, 70px) * 2)) *
        1.3
    )
  );
  border-radius: var(--border-radius-constant, 10px);
  object-fit: cover;
}

.movie-slide-requiring-registration {
  width: clamp(
    calc(var(--movie-slide-min-width, 70px) * 1),
    calc(var(--movie-slide-preferred-width, 22vw) * 1),
    calc(
      var(--movie-slide-max-width, calc(var(--movie-slide-min-width, 70px) * 2)) *
        1
    )
  );
  height: clamp(
    calc(var(--movie-slide-min-width, 70px) * 1.3),
    calc(var(--movie-slide-preferred-width, 22vw) * 1.3),
    calc(
      var(--movie-slide-max-width, calc(var(--movie-slide-min-width, 70px) * 2)) *
        1.3
    )
  );
  filter: blur(2px);

  .movie-slide {
    border-radius: var(--border-radius-constant, 10px);
    object-fit: cover;
  }
}

.locked-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}
