.movie-genre-tabs-container {
  align-self: stretch;
  padding: 0 calc(var(--spacing-constant) * 1);
  align-items: center;
  gap: calc(var(--spacing-constant) * 1);
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  list-style-type: none;

  .movie-genre-tab-container {
    align-items: center;
    gap: calc(var(--spacing-constant) * 1);
    display: flex;

    .movie-genre {
      color: var(--not-selected-movie-genre-tab-color, hsla(0, 0%, 100%, 0.6));
      font-weight: var(--font-weight-semi-bold);
      text-wrap: nowrap;
      text-decoration: none;
      color: var(--selected-movie-genre-tab-color, hsla(0, 0%, 100%, 1));
      font-size: clamp(
        calc(var(--font-size-constant) * 1.2),
        3.75vw,
        calc(var(--font-size-constant) * 1.2 * 1.5)
      );
    }

    .movie-genre:hover {
      color: var(--selected-movie-genre-tab-color, hsla(335, 100%, 66%, 1));
    }
  }
}

.movie-genre-tabs-container::-webkit-scrollbar {
  height: 4px;
}

.movie-genre-tabs-container::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, hsla(0, 0%, 100%, 1));
  border-radius: 10px;
}
