.movie-link {
  position: relative;
  display: flex;
  width: clamp(
    var(--movie-slide-min-width, 70px) * 1,
    var(--movie-slide-preferred-width, 22vw) * 1,
    var(--movie-slide-max-width, calc(var(--movie-slide-min-width, 70px) * 2)) *
      1
  );
  height: clamp(
    var(--movie-slide-min-width, 70px) * 1.3,
    var(--movie-slide-preferred-width, 22vw) * 1.3,
    var(--movie-slide-max-width, calc(var(--movie-slide-min-width, 70px) * 2)) *
      1.3
  );
}
