.embla {
  padding-left: clamp(
    calc(var(--spacing-constant) * 2),
    calc(2.5vw * 2),
    calc(var(--spacing-constant) * 2 * 1.5)
  );

  .embla__container {
    display: flex;
    gap: clamp(
      calc(var(--spacing-constant) * 2),
      calc(2.5vw * 2),
      calc(var(--spacing-constant) * 2 * 1.5)
    );
  }
}
