.parametreAdmin {
  display: flex;
  flex-direction: column;
  flex: 1;
  .profilPicture {
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 11vw;
    height: 6vh;
    border-radius: 70px;
    padding: 10px;
  }
  .parametre {
    display: flex;
    justify-content: center;
  }
  .containerDisplayParametre {
    color: var(--text-field-background-color);
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    .params {
      // border: 1px solid red;
      display: flex;
      align-items: center;
      width: 90vw;
      height: 8vh;
      border-bottom: 1px solid var(--text-field-background-color);
      button {
        border: none;
        background: none;
        color: var(--text-field-background-color);
        font-size: calc(var(--font-size-constant) * 1.6);
      }
    }
  }
}
