.search {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  overflow-x: hidden;
  flex: 1;

  .search-display-section {
    align-self: stretch;
    flex: 1;
    padding-top: calc(var(--spacing-constant) * 2);
    flex-direction: column;
    gap: calc(var(--spacing-constant) * 1);
    display: flex;

    .search-bar-container {
      align-self: stretch;
      height: 45px;
      padding: 0 calc(var(--spacing-constant) * 1);
      display: flex;

      .search-bar {
        flex: 1 1 auto;
        align-self: stretch;
        padding: 0 calc(var(--spacing-constant) * 1);
        border-radius: var(--border-radius-constant, 10px);
        align-items: center;
        gap: calc(var(--spacing-constant) * 1);
        display: flex;
        width: 100%;
        height: 100%;
        border: none;
      }

      .search-bar:focus {
        outline: none;
      }
    }

    .sort-container {
      align-self: stretch;
      height: 30px;
      padding: 0 calc(var(--spacing-constant) * 1);
      justify-content: flex-end;
      align-items: center;
      gap: calc(var(--spacing-constant) * 1);
      display: flex;

      .sort-button {
        height: 100%;
        padding: 0 calc(var(--spacing-constant) * 1);
        border-radius: calc(var(--border-radius-constant, 10px) * 1.3);
        justify-content: center;
        align-items: center;
        gap: calc(var(--spacing-constant) * 1);
        display: flex;
        border: none;

        .sort-text {
          text-align: center;
          font-size: calc(var(--font-size-constant) * 1.2);
          font-weight: var(--font-weight-semi-bold);
        }
      }
    }

    .search-result-container {
      align-self: stretch;
      flex: 1;
      justify-content: center;
      align-items: center;
      gap: calc(var(--spacing-constant) * 1);
      display: flex;
      flex-wrap: wrap;
      padding: 0 calc(var(--spacing-constant) * 1.5);

      .movie-link {
        position: relative;
      }
    }
  }
}
