.search {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  overflow-x: hidden;
  flex: 1;

  .search-display-section {
    flex: 1;
    padding-top: calc(var(--spacing-constant) * 2);
    flex-direction: column;
    gap: calc(var(--spacing-constant) * 2);
    display: flex;

    .search-bar-container {
      height: 45px;
      padding: 0 calc(var(--spacing-constant) * 4);
      justify-content: center;
      display: flex;

      .search-bar {
        padding: 0 calc(var(--spacing-constant) * 1);
        border-radius: var(--border-radius-constant, 10px);
        width: 100%;
        max-width: 550px;
        height: 100%;
        border: none;
      }

      .search-bar:focus {
        outline: none;
      }
    }

    .titleContainer {
      display: flex;
      justify-content: center;

      .title {
        text-align: center;
      }
    }

    .sort-container {
      align-self: stretch;
      height: 30px;
      padding: 0 calc(var(--spacing-constant) * 1);
      justify-content: center;
      align-items: center;
      gap: calc(var(--spacing-constant) * 1);
      display: flex;

      .sort-button {
        height: 100%;
        padding: 0 calc(var(--spacing-constant) * 1);
        border-radius: calc(var(--border-radius-constant, 10px) * 1.3);
        justify-content: center;
        align-items: center;
        gap: calc(var(--spacing-constant) * 1);
        display: flex;
        border: none;

        .sort-text {
          text-align: center;
          font-size: calc(var(--font-size-constant) * 1.2);
          font-weight: var(--font-weight-semi-bold);
        }
      }
    }

    .search-result-container {
      align-self: stretch;
      justify-content: center;
      gap: clamp(
        calc(var(--spacing-constant) * 2),
        calc(2.5vw * 2),
        calc(var(--spacing-constant) * 2 * 1.5)
      );
      display: flex;
      flex-wrap: wrap;
      padding: 0 calc(var(--spacing-constant) * 1.5);

      .movie-link {
        position: relative;
      }
    }

    .sort-button {
      width: fit-content;
      padding: calc(var(--spacing-constant) * 1);
      border-radius: calc(var(--border-radius-constant, 10px) * 1.3);
      justify-content: center;
      align-items: center;
      gap: calc(var(--spacing-constant) * 1);
      display: flex;
      border: none;
      align-self: center;

      .sort-text {
        text-align: center;
        font-size: calc(var(--font-size-constant) * 1.2);
        font-weight: var(--font-weight-semi-bold);
      }
    }
  }
}

.search::-webkit-scrollbar {
  width: 5px;
}

.search::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, hsla(335, 100%, 66%, 1));
  border-radius: 10px;
}
