:root {
  // ^ colors
  --background-color: hsla(210, 89%, 7%, 1);
  --primary-font-color: hsla(53, 82%, 66%, 1);
  --secondary-font-color: hsla(335, 100%, 66%, 1);
  --text-field-background-color: hsla(0, 0%, 86%, 1);
  --neutral-color: hsla(0, 0%, 100%, 1);

  // ^ fonts
  --main-font: "Roboto Flex", sans-serif;

  // ^ font sizes
  --font-size-constant: 10px;

  // ^ font weights
  --font-weight-extra-light: 200;
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;

  // ^ spacing
  --spacing-constant: 8px;

  // ^ other sizes

  --movie-slide-width: 90px;
  --border-radius-constant: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

body {
  background-color: var(--background-color);
  color: var(--primary-font-color);
  font-family: var(--main-font);
  font-size: calc(var(--font-size-constant) * 1.6);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
}
