.ProfileDisplaySection {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: inline-flex;

  .Profilepicturecontainer {
    align-self: stretch;
    height: 129px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;

    .Avatar1 {
      width: 100px;
      height: 100px;
    }

    .User {
      color: white;
      font-size: 16px;
      font-family: Roboto Flex;
      font-weight: 700;
      word-wrap: break-word;
    }
  }

  .Editbuttoncontainer {
    align-self: stretch;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    display: inline-flex;

    .Editbutton {
      width: 140px;
      height: 40px;
      background: #ff509a;
      border-radius: 8px;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      display: flex;

      .ModifierProfil {
        color: #021222;
        font-size: 16px;
        font-family: Roboto Flex;
        font-weight: 700;
        word-wrap: break-word;
      }
    }
  }

  .Useroptionscontainer {
    align-self: stretch;
    height: 328px;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;

    .Useroption {
      align-self: stretch;
      height: 50px;
      border-bottom: 1px rgba(255, 255, 255, 0.45) solid;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;

      .RegarderPlusTard {
        color: white;
        font-size: 16px;
        font-family: Roboto Flex;
        font-weight: 700;
        word-wrap: break-word;
      }
    }

    .Useroption {
      align-self: stretch;
      height: 50px;
      border-bottom: 1px rgba(255, 255, 255, 0.45) solid;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;

      .RegarderPlusTard {
        color: white;
        font-size: 16px;
        font-family: Roboto Flex;
        font-weight: 700;
        word-wrap: break-word;
      }
    }

    .Useroption {
      align-self: stretch;
      height: 50px;
      border-bottom: 1px rgba(255, 255, 255, 0.45) solid;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;

      .RegarderPlusTard {
        color: white;
        font-size: 16px;
        font-family: Roboto Flex;
        font-weight: 700;
        word-wrap: break-word;
      }
    }

    .Useroption {
      align-self: stretch;
      height: 50px;
      border-bottom: 1px rgba(255, 255, 255, 0.45) solid;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      display: inline-flex;

      .RegarderPlusTardButton {
        background: none;
        font-size: 16px;
        font-family: Roboto Flex;
        font-weight: 700;
        word-wrap: break-word;
        border: none;
        color: white;
      }
    }
  }
}
