.ProfileDisplaySection {
  width: 100%;
  height: 100%;
  padding-top: clamp(
    calc(var(--spacing-constant) * 3),
    calc(2.5vw * 3),
    calc(var(--spacing-constant) * 3 * 1.5)
  );
  flex-direction: column;
  justify-content: space-between;
  display: flex;

  .Profilepicturecontainer {
    height: clamp(calc(128px * 1), calc(40vw * 1), calc(128px * 1 * 1.5));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(
      calc(var(--spacing-constant) * 1),
      calc(2.5vw * 1),
      calc(var(--spacing-constant) * 1 * 1.5)
    );
    display: flex;

    .Avatar1 {
      width: clamp(calc(100px * 1), calc(31.25vw * 1), calc(100px * 1 * 1.5));
      aspect-ratio: 1 / 1;
      border-radius: clamp(
        calc(var(--border-radius-constant) * 6),
        calc(2.5vw * 6),
        calc(var(--border-radius-constant) * 6 * 1.5)
      );
      object-fit: cover;
    }

    .User {
      color: var(--neutral-color);
      font-weight: var(--font-weight-semi-bold);
    }
  }

  .Useroptionscontainer {
    height: clamp(calc(328px * 1), calc(102.5vw * 1), calc(328px * 1 * 1.5));
    padding: 0
      clamp(
        calc(var(--spacing-constant) * 2),
        calc(2.5vw * 2),
        calc(var(--spacing-constant) * 2 * 1.5)
      );
    flex-direction: column;
    display: flex;
    overflow-y: scroll;

    .Useroption {
      font-size: clamp(
        calc(var(--font-size-constant) * 1.6),
        calc(3.125vw * 1.6),
        calc(var(--font-size-constant) * 1.6 * 1.5)
      );
      height: clamp(calc(50px * 1), calc(15.625vw * 1), calc(50px * 1 * 1.5));
      border-bottom: 1px var(--text-field-background-color) solid;
      align-items: center;
      gap: clamp(
        calc(var(--spacing-constant) * 1),
        calc(2.5vw * 1),
        calc(var(--spacing-constant) * 1 * 1.5)
      );
      display: flex;

      .RegarderPlusTard {
        color: var(--neutral-color);
        font-weight: var(--font-weight-semi-bold);

        a {
          text-decoration: none;
          color: var(--neutral-color);
        }
      }

      .RegarderPlusTardButton {
        font-size: clamp(
          calc(var(--font-size-constant) * 1.6),
          calc(3.125vw * 1.6),
          calc(var(--font-size-constant) * 1.6 * 1.5)
        );
        background: none;
        font-weight: var(--font-weight-semi-bold);
        border: none;
        color: var(--neutral-color);
        cursor: pointer;
      }
    }
  }

  .Useroptionscontainer::-webkit-scrollbar {
    width: 5px;
  }

  .Useroptionscontainer::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, hsla(335, 100%, 66%, 1));
    border-radius: 10px;
  }
}
