@import "settings";
@import "app";
@import "home";
@import "search";
@import "navbar";
@import "movieSlide";
@import "movie";
@import "moviePlayer";
@import "categories";
@import "serie";
@import "inscription.scss";
@import "heroMovieSlide";
@import "dynamicHeroSlider";
@import "movieLink";
@import "connection";
